$app-color-generic: #FFDDDD;
$app-color-prime: #FF3395;
$app-color-transparency: #FFD1E7;
$app-color-hover: #A5F0CC;
$app-color-text-dark: #252A34;
$app-color-text-inverted: #A5F0CC;
$app-color-footer: #684646;


$app-font-weight-prime: 700;
$app-font-weight-generic: 400;

$app-transition-speed: 0.1s;